body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5e9d0; 
}

header {
    background-color: #f39c12; 
    color: #fff;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

h2 {
    background-color: #f39c12; 
    color: #000; 
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f39c12; 
    color: #fff;
}


header img {
    width: 75px; 
    height: auto; 
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 5px; 
}

