body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf6e3; 
    color: #002b36; 
    transition: background-color 0.3s, color 0.3s;
}

.light-mode {
    background-color: #fdf6e3; 
    color: #002b36;
}

.dark-mode {
    background-color: #002b36; 
    color: #eee8d5; 
}

header {
    background-color: #eee8d5; 
    color: #002b36;
    text-align: center;
    padding: 1rem;
    position: relative;
}

h1 {
    margin: 0;
    user-select: none;
    display: inline;
}

button#theme-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #042e39; 
    color: #fdf6e3; 
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

main {
    padding: 2rem;
}

h2 {
    background-color: #042e39; 
    color: #fdf6e3;
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #042e39; 
    color: #fdf6e3;
}

header img {
    width: 75px;
    height: auto;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 5px;
}

.dark-mode {
    background-color: #002b36;
    color: #eee8d5;
}

.dark-mode header {
    background-color: #01171d;
    color: #93a1a1;
}

.dark-mode h1 {
    color: #586e75; 
}

.dark-mode h2 {
    background-color: #01171d;
    color: #93a1a1;
}

.dark-mode footer {
    background-color: #01171d;
    color: #93a1a1;
}

.contact-info {
    text-align: left;
    margin-top: 10px;
}

.small-text {
    font-size: 14px;
}

@media (prefers-color-scheme: dark) {
    body.light-mode {
        background-color: #073642;
        color: #93a1a1;
    }
    
    header.light-mode {
        background-color: #002b36;
        color: #eee8d5;
    }
    
    h2.light-mode {
        background-color: #042e39;
        color: #fdf6e3;
    }
    
    footer.light-mode {
        background-color: #002b36;
        color: #eee8d5;
    }
}